/CongressData/.idea
/CongressData/descs
/CongressData/speakers
/CongressData/speeches
/CongressData/venv
/CongressData/CongressData.csv
/notebooks/data
/notebooks/.ipynb_checkpoints
/webscraping/__pycache__
/webscraping/geckodriver.log
